*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header{
    background-image: url("/header.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 100vw;
    height: 80vh;
    
}

.navigation{
    background-color: rgb(1, 1, 59);
    opacity: 0.8;
    max-width: auto;
    max-height: 12vh;
    list-style: none;
    
    
    
    
    
}

.logo img{
    height: 10vh;
    opacity: 0.8;
    margin: 10px 10px 12px 20px;
    
}

.navbar{
    float: right;
    
}

.navbar li{
    float: left;
    margin: 20px 2px;
    
}
.navbar li:hover{
    background-color: rgb(3, 82, 20);
}

.navbar li a{
    text-decoration: none;
    font-size: 20px;
    margin: 10px;
    color: whitesmoke;
}



.showcase{
    text-align: center;
    margin: 80px auto;
}

.showcase p {
    margin: 20px;
}

.showcase h1 {
    color: whitesmoke;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 44px;
}

.showcase h3 {
    color: rgb(1, 1, 59);
    font-family: 'PT Sans Narrow', sans-serif;
    font-size: 28px;
}
/* Enroll Line */
.enrolline{
    max-width: 100vw;
    height: 15vh;
    background-color: aliceblue;
}

#enrollinebtn{
    float: right;
    margin: 20px 20px 2px 25px;
    background-color: rgb(1, 1, 59);
    width: 100px;
    height: 8vh;
    color: aliceblue;
    font-size: 16px;
    border: 1px solid rgb(3, 82, 20);

}

#enrollinebtn:hover{
    background-color: rgb(3, 82, 20);
    cursor: pointer;
}

#enrollinepara{
    float: left;
    font-size: 30px;
    color: rgb(1, 1, 59);
    margin: 20px 20px 2px 25px;
    font-family: 'Courgette', cursive;
}
/* About us */
#aboutus{
    max-width: 100vw;
    max-height: 400px;
    
    
}

.abouttext{
    background-color: rgb(1, 1, 59);
    
    width: 50%;
    color: whitesmoke;
    float: left;
    height: 400px;
    font-size: 28px;
    
}

.abouttext h2 {
    text-align: center;
    margin: 20px auto;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 35px;
}

.abouttext article{
    text-align: left;
    font-style: oblique;
    font-size: 25px;
}

.abouttext button{
    font-size: 1rem;
    margin: 20px 20px 25px 40px;
    background-color: rgb(1, 1, 59);
    color: whitesmoke;
    padding: 10px;
    
}

.abouttext button:hover{
    background-color: rgb(3, 82, 20);
    cursor: pointer;
}

.aboutimage{
    width: 50%;
    float: right;
    height: 400px;
    image-orientation: inherit;
    
}

.aboutimage img{
    width: 100%;
    height: 400px;
     
}
/* Courses */
#courses{
    max-width: 100vw;
    height: 450px;
    background-color: aliceblue;
    margin-top: 405px;
}

#courses h2{
    font-size: 30px;
    text-align: center;
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.meanstack, .frontend, .backend, .serveradmin{
    max-width: 23.5%;
    height: 75%;
    border: 2px solid rgb(1, 1, 59);
    float: left;
    margin: 0px 5px;
}

.meanstack, .frontend, .backend, .serveradmin h3{
    color: black;
    text-align: center;
}

.serveradmintext{
    color: black;
    text-align: center;
}

.meanstack img{
    width: 100%;
    height: 50%;
}

.frontendimage img{
    width: 100%;
    height: 165px;
}

.backendimage img{
    width: 100%;
    height: 165px;   
}

.serveradminimage img{
    width: 100%;
    height: 165px;
}

.apply{
    margin: 20px auto;
    
}

.apply button{
    width: 10vw;
    height: 30px;
    border: 1px solid gray;
    font-size: 15px;
    cursor: pointer;
    background-color: rgb(1, 1, 59);
    color: whitesmoke;
}

.apply button:hover{
    background-color: rgb(3, 82, 20);
}

/* Enroll */
#enroll{
    background-color: rgb(3, 82, 20);
    max-width: 100vw;
    height: 700px;
}

#enroltitle h3{
    color: whitesmoke;
    text-align: center;
    padding: 20px 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
}

#enrolpara p{
    color: whitesmoke;
    text-align: center;
    padding: 10px 0px;
    font-size: 20px;
}

#whyjoin h3{
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 25px;
    margin: 40px;
}
#whyjoin ul li{
    color: whitesmoke;
    margin: 30px;
    font-size: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#enrolform form, #whyjoin{
    width: 50%;
}

#enrolform form{
    float: right;
}

#whyjoin{
    float: left;
}

fieldset{
    max-width: 500px;
    height: 80%;
    padding: 0px 10px;
    line-height: 40px;
}

#formtitle{
    text-align: center;
    color: whitesmoke;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

label {
    color: whitesmoke;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}

#enrolsubmit{
    width: 130px;
    height: 30px;
    background-color: rgb(3, 82, 20);
    color: whitesmoke;
    border: 1px solid whitesmoke;
    font-size: 16px;
    
}

#enrolsubmit:hover{
    background-color: rgb(1, 1, 59);
    cursor: pointer;
}

#choosebatch{
    width: 20vw;
    height: 4vh;
    border: 2px solid rgb(1, 1, 59);
}

#choosecourse{
    width: 24vw;
    height: 4vh;
    border: 2px solid rgb(1, 1, 59);

}
.inputext{
    width: 36.3vw;
    height: 4vh;
    border: 2px solid rgb(1, 1, 59);
}

#yourstory{
    width: 36.3vw;
    height: 17vh;
    border: 2px solid rgb(1, 1, 59);
}

/* Work with us */
#wedoprojects{
    max-width: 100vw;
    height: 120vh;
    background-image: url("/workwithus.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0;


}

.wedoprojectsinner{
    width: 35%;
    height: 97%;
    background-color: rgb(1, 1, 59);
    margin: 20px;
    margin-top: 0px;
    padding: 10px 50px;
    border-radius: 20px;
}

#wedoprojecttitle{
    color: whitesmoke;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

#wedoprojectpara h4{
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
}

#wedoprojectpara li{
    color: whitesmoke;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 30px;
    font-style: italic;
}

#wedoprojectform{
    margin-top: 25px;
}

#wedoprojectform h4{
    color: rgb(3, 82, 20);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.wedolabel{
    font-size: 18px;
}

#other{
    margin: 20px 0px;
}

#wedoprojectform button{
    margin-top: 40px;
}

.wedobtn{
    background-color: rgb(3, 82, 20);
    border: 1px solid whitesmoke;
    width: 100px;
    height: 30px;
    color: whitesmoke;
    font-size: 16px;
    cursor: pointer;
}

.wedobtn:hover {
    background-color: rgb(1, 1, 59);
}

#sancdonation{
    width: auto;
    height: auto;
}

/* Employers */
#employers{
    width: auto;
    height: 70vh;
    background-color: rgb(3, 82, 20);
    line-height: 40px;
}

#employertitle{
    text-align: center;
    font-size: 20px;
    color: whitesmoke;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#employerpara{
    text-align: center;
    font-size: 18px;
    color: whitesmoke;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
}

#employerform{
    text-align: center;
}

.developertype{
    color: whitesmoke;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

.jobtype{
    color: whitesmoke;
    font-size: 20px;
    font-style: italic;
    font-weight: bold;
}

#detail{
    border: 3px rgb(1, 1, 59) double;
    width: 30vw;
    height: 30vh;
}



#employersubmitbtn{
    width: 10vw;
    height: 5vh;
    background-color: rgb(3, 82, 20);
    border: 1px solid whitesmoke;
    color: whitesmoke;
    font-size: 15px;
    
}

#employersubmitbtn:hover{
    background-color: rgb(1, 1, 59);
    cursor: pointer;
}
/* Training */
#stafftraining{
    background-color: lightslategray;
    max-width: 100vw;
    height: 90vh;
}

.stafftrainhead h2{
    text-align: center;
    color: rgb(1, 1, 59);
}

.stafftrainhead, .stafftrainheadp{
    text-align: center;
    color: rgb(1, 1, 59);
    font-size: 18px;
    font-weight: bold;
}

.grouptraining, .singletraining{
    width: 45%;
    height: 70%;
    margin: 15px;
    border: 2px dotted rgb(1, 1, 59);
    border-radius: 10px;
    padding: 20px;
}

.grouptraining{
    float: right;
}

.singletraining{
    float: left;
}

.trainimg{
    width: auto;
    height: 200px;
}

#trainbtn{
    width: 20vw;
    height: 10vh;
    background-color: rgb(1, 1, 59);
    border: 1px solid whitesmoke;
    color: whitesmoke;
    font-size: 16px;
    margin: 40px 450px;
}

#trainbtn:hover{
    background-color: rgb(3, 82, 20);
    cursor: pointer;
}
/* Contact */

#contactus{
    width: auto;
    height: 500px;
    background-color: rgb(3, 82, 20);

}

#contacthead{
    text-align: center;
    color: whitesmoke;
    font-size: 25px;
}

#contactform{
    text-align: center;
    margin-top: 40px;
}

#name, #email{
    margin: 5px 0px;
    width: 300px;
    height: 40px;
}

#message{
    margin: 5px 0px;
    width: 300px;
    height: 170px;
}
#contactsubmit{
    text-align: center;
}
#contactbtn{
    width: 100px;
    height: 40px;
    background-color: rgb(3, 82, 20);
    border: 1px solid whitesmoke;
    margin-top: 40px;
    cursor: pointer;
    
}
/* Footer */
.footer{
    max-width: 100vw;
    height: 80px;
    background-color: rgb(1, 1, 59);
    color: whitesmoke;
}

#footerleft, #footerright{
    width: 50%;
    padding: 15px;
}

#footerleft{
    font-size: 20px;
    float: left;
}

#footerright{
    float: right;
}

#footerright ul{
    list-style: none;
    float: right;
}

#footerright ul li{
    float: left;
    margin: 0px 10px;
    
}














